<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<form class="login-form">
  <label for="first-name">First Name:</label>
  <input type="text" name="account_firstname" id="first-name" required/>
  <label for="last-name">Last Name:</label>
  <input type="text" name="account_lastname" id="last-name" required/>
  <label for="email">Email Address:</label>
  <input type="email" name="account_email" id="email" required/>
  <label for="password">Password:</label>
  <input type="password" name="account_password" id="password" required minlength="12" pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+]).*"/>
  <button>REGISTER</button>
</form>