/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-color: #01b0d3;
  --secondary-color: #242332;
}

body {
  background-image: url("/images/site/small_check.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Literata", serif;
  max-width: 50rem;
  margin: 1rem auto;
}

#wrapper {
  border: 0.25rem solid var(--main-color);
  border-radius: 0.5rem;
  background: white;
  padding: 0.5rem;
}

ul {
  list-style: none;
}

.notice {
  font-style: italic;
  font-weight: 700;
  color: rgb(180, 0, 0);
  list-style-type: disclosure-closed;
}

header,
nav {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

.siteName a {
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

nav li {
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

nav li:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

nav li a {
  color: white;
  text-decoration: none;
}

#hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  color: var(--main-color);
  padding: 0 1rem 1rem 3rem;
  font-weight: 500;
}

#hero ul {
  padding-left: 0;
  font-family: "Inter", serif;
  font-size: 1.25rem;
  margin-top: 0;
}

button {
  background-color: var(--main-color);
  border: 0.25rem outset white;
  padding: 1rem 2rem;
  font-weight: 900;
  cursor: pointer;
}

button:hover {
  border-color: var(--secondary-color);
  color: white;
}

#hero img {
  max-width: 100%;
}

#details {
  display: grid;
  grid-template-areas: "upgrades reviews";
  gap: 1rem;
}

#upgrades,
#reviews {
  padding: 1rem;
}

#upgrades {
  grid-area: upgrades;
}

#reviews {
  grid-area: reviews;
}

#reviews ul {
  padding-left: 1rem;
}

.upgrades-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.upgrade {
  text-align: center;
}

.upgrade .img-container {
  background-color: var(--main-color);
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 0.15rem solid var(--secondary-color);
}

/* CLASSIFICATION VIEW */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 0;
  margin: auto;
}

#inv-display img,
.detail-wrapper img {
  width: 100%;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.namePrice {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.namePrice hr {
  border: none;
  height: 0.25rem;
  width: 100%;
  background-color: var(--secondary-color);
}

/* DETAIL VIEW */
.detail-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.detail-wrapper .price {
  font-weight: 700;
  font-size: 1.5rem;
}

.detail-wrapper img {
  width: 100%;
  border-radius: 1rem;
}

.vehicle-details {
  width: 100%;
}

/* LOGIN/REGISTER VIEW */
form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: auto;
  background-color: #a7f0ff;
  padding: 1rem;
  border-radius: 0.5rem;
}

form button,
form p {
  margin-top: 1rem;
  align-self: center;
}

form label {
  font-weight: 700;
  margin-top: 0.5rem;
}

input,
select,
textarea {
  padding: 0.5rem;
}

form *:valid:focus:not(button) {
  background-color: rgb(170, 255, 170);
}

form *:invalid:focus:not(button) {
  background-color: rgb(255, 170, 170);
}

form span {
  font-size: 0.75rem;
  color: rgb(180, 0, 0);
}

/* MOBILE STYLE */

@media screen and (max-width: 50rem) {
  body {
    background-image: none;
  }

  #wrapper {
    margin: 0;
    border: none;
  }

  #details {
    grid-template-areas:
      "reviews"
      "upgrades";
    gap: 0;
  }

  #upgrades h3 {
    margin-top: 0;
  }

  .detail-wrapper {
    grid-template-columns: 1fr;
  }
}