/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-color: #01b0d3;
  --secondary-color: #242332;
}

body {
  background-image: url("/images/site/small_check.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Literata", serif;
  max-width: 50rem;
  margin: 1rem auto;
}

#wrapper {
  border: 0.25rem solid var(--main-color);
  border-radius: 0.5rem;
  background: white;
  padding: 0.5rem;
}

header,
nav {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

.siteName a {
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav li {
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

nav li:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

nav li a {
  color: white;
  text-decoration: none;
}

#hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  color: var(--main-color);
  padding: 0 1rem 1rem 3rem;
  font-weight: 500;
}

#hero ul {
  list-style: none;
  padding-left: 0;
  font-family: "Inter", serif;
  font-size: 1.25rem;
  margin-top: 0;
}

button {
  background-color: var(--main-color);
  border: 0.25rem outset white;
  padding: 1rem 2rem;
  font-weight: 900;
}

button:hover {
  border-color: var(--secondary-color);
  color: white;
}

#hero img {
  max-width: 100%;
}

#details {
  display: grid;
  grid-template-areas: "upgrades reviews";
  gap: 1rem;
}

#upgrades,
#reviews {
  padding: 1rem;
}

#upgrades {
  grid-area: upgrades;
}

#reviews {
  grid-area: reviews;
}

#reviews ul {
  padding-left: 1rem;
}

.upgrades-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.upgrade {
  text-align: center;
}

.upgrade .img-container {
  background-color: var(--main-color);
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 0.15rem solid var(--secondary-color);
}

/* MOBILE STYLE */

@media screen and (max-width: 50rem) {
  body {
    background-image: none;
  }

  #wrapper {
    margin: 0;
    border: none;
  }

  #details {
    grid-template-areas:
      "reviews"
      "upgrades";
    gap: 0;
  }

  #upgrades h3 {
    margin-top: 0;
  }
}